Nama : Erin Nur Fatimah

Alamat : RT 003 Sindet, Wukirsari, Imogiri, Bantul, Yogyakarta

TTL: Bantul, 25 Januari 2002

Perguruan Tinggi: Universitas Teknologi Digital Indonesia

Jurusan : D3-Rekayasa Perangkat Lunak Aplikasi

Nomor WhatsApp : 083149731170

Email : 203110024@students.akakom.ac.id

data set dari link https://www.kaggle.com/datasets/atulanandjha/imdb-50k-movie-reviews-test-your-bert

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('/content/drive/MyDrive/data set/data set proyek 2/train.csv')

In [5]:
data = pd.read_csv('/content/drive/MyDrive/data set/data set proyek 2/test.csv')

In [6]:
data.head()

                                                text sentiment
0  My daughter liked it but I was aghast, that a ...       neg
1  I... No words. No words can describe this. I w...       neg
2  this film is basically a poor take on the old ...       neg
3  This is a terrible movie, and I'm not even sur...       neg
4  First of all this movie is a piece of reality ...       pos

In [7]:
category = pd.get_dummies(data.sentiment)
data_baru = pd.concat([data, category], axis=1)
data_baru = data_baru.drop(columns='sentiment')
data_baru

                                                    text  neg  pos
0      My daughter liked it but I was aghast, that a ...    1    0
1      I... No words. No words can describe this. I w...    1    0
2      this film is basically a poor take on the old ...    1    0
3      This is a terrible movie, and I'm not even sur...    1    0
4      First of all this movie is a piece of reality ...    0    1
...                                                  ...  ...  ...
24995  For one thing, he produced this movie. It has ...    1    0
24996  The title comes from an alteration an adolesce...    0    1
24997  Christopher Nolan's first film is a 'no budget...    0    1
24998  The story is shortly about the faith-lacking b...    1    0
24999  I found parts of this movie rather slow, espec...    0    1

[25000 rows x 3 columns]

In [15]:
from sklearn.model_selection import train_test_split

text = data_baru['text'].values
label = data_baru[['pos','neg']].values
text_train , text_test, label_train, label_test = train_test_split(text, label, test_size=0.2)

In [16]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=280617, oov_token='-')
tokenizer.fit_on_texts(text_train)
tokenizer.fit_on_texts(text_test)

In [17]:
seq_train = tokenizer.texts_to_sequences(text_train)
seq_test = tokenizer.texts_to_sequences(text_test)

In [18]:
pad_train = pad_sequences(seq_train,
                          maxlen=300,
                          padding='post',
                          truncating='post')

pad_test = pad_sequences(seq_test,
                         maxlen=300,
                         padding='post',
                         truncating='post')

In [19]:
from tensorflow.keras import layers
from tensorflow.keras import Sequential

model = Sequential([layers.Embedding(280617, 64, input_length=300),
                    layers.LSTM(64, dropout=0.1),
                    layers.Dense(128, activation='relu'),
                    layers.Dense(64, activation='relu'),
                    layers.Dense(2, activation='sigmoid')])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 300, 64)           17959488

 lstm_1 (LSTM)               (None, 64)                33024

 dense_3 (Dense)             (None, 128)               8320

 dense_4 (Dense)             (None, 64)                8256

 dense_5 (Dense)             (None, 2)                 130

=================================================================
Total params: 18,009,218
Trainable params: 18,009,218
Non-trainable params: 0
_________________________________________________________________

In [20]:
import tensorflow as tf

model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [21]:
num_epochs = 10
history = model.fit(pad_train, label_train, epochs=num_epochs, 
                    validation_data=(pad_test, label_test), verbose=2)

Epoch 1/10
625/625 - 120s - loss: 0.6922 - accuracy: 0.5027 - val_loss: 0.6865 - val_accuracy: 0.5214 - 120s/epoch - 192ms/step
Epoch 2/10
625/625 - 118s - loss: 0.6456 - accuracy: 0.5706 - val_loss: 0.6763 - val_accuracy: 0.5326 - 118s/epoch - 189ms/step
Epoch 3/10
625/625 - 118s - loss: 0.6410 - accuracy: 0.5845 - val_loss: 0.6810 - val_accuracy: 0.5748 - 118s/epoch - 188ms/step
Epoch 4/10
625/625 - 118s - loss: 0.5981 - accuracy: 0.6403 - val_loss: 0.6889 - val_accuracy: 0.6348 - 118s/epoch - 188ms/step
Epoch 5/10
625/625 - 118s - loss: 0.5363 - accuracy: 0.7167 - val_loss: 0.7164 - val_accuracy: 0.6700 - 118s/epoch - 189ms/step
Epoch 6/10
625/625 - 117s - loss: 0.4614 - accuracy: 0.7773 - val_loss: 0.5745 - val_accuracy: 0.8006 - 117s/epoch - 188ms/step
Epoch 7/10
625/625 - 117s - loss: 0.2561 - accuracy: 0.8989 - val_loss: 0.3857 - val_accuracy: 0.8576 - 117s/epoch - 188ms/step
Epoch 8/10
625/625 - 118s - loss: 0.1237 - accuracy: 0.9571 - val_loss: 0.3743 - val_accuracy: 0.8812 - 118s/epoch - 188ms/step
Epoch 9/10
625/625 - 117s - loss: 0.0559 - accuracy: 0.9830 - val_loss: 0.4731 - val_accuracy: 0.8720 - 117s/epoch - 187ms/step
Epoch 10/10
625/625 - 118s - loss: 0.0269 - accuracy: 0.9930 - val_loss: 0.5789 - val_accuracy: 0.8716 - 118s/epoch - 188ms/step